/*

Enter custom T-SQL here that would run after SQL Server has started up.

*/

CREATE DATABASE changethis;
GO

#
# USE change_this;
# EXEC sp_changedbowner 'sa';
# GO


# CREATE DATABASE [DatabaseName]
#  ON (FILENAME = 'path\to\your\Database.mdf')
#  FOR ATTACH_REBUILD_LOG;